- Email verification vue js via api:
  + https://codeanddeploy.com/blog/laravel/laravel-8-authentication-login-and-registration-with-username-or-email
  + https://codeanddeploy.com/blog/laravel/how-to-implement-laravel-8-email-verification
  + https://www.youtube.com/watch?v=RRUDHZ0LBeM
  
 - Sử dụng mailtrap.io để test: https://viblo.asia/p/mailtrap-va-testing-xQMGJmgNvam
  
