- Email verification vue js via api:
  + https://youtube.com/playlist?list=PLFWDoeAHRLTaAj88mnqONzzQ5Y5qMxgmz
  
 - Sử dụng mailtrap.io để test: https://viblo.asia/p/mailtrap-va-testing-xQMGJmgNvam
  
