- Email verification vue js via api:
  + https://www.youtube.com/watch?v=Qjs4UqPDbuU
  + https://laravel.com/docs/8.x/verification
  
 - Sử dụng mailtrap.io để test: https://viblo.asia/p/mailtrap-va-testing-xQMGJmgNvam
  
