.card-user {
  .image {
    border-radius: 8px 8px 0 0;
    height: 150px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
  .image-plain {
    height: 0;
    margin-top: 110px;
  }
  .author {
    text-align: center;
    text-transform: none;
    margin-top: -65px;
    .title {
      color: black;
      small {
        color: gray;
      }
    }
  }
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;

    &.border-white {
      border: 5px solid white;
    }
    &.border-gray {
      border: 5px solid #667799;
    }
  }
  .card-title {
    font-weight: 600;
    line-height: 24px;
  }
  .description {
    margin-top: 10px;
  }
  .card-body {
    min-height: 200px;
  }

  &.card-plain {
    .avatar {
      height: 190px;
      width: 190px;
    }
  }
}
