


    h2,
    h3,
    h4,
    p {
        margin: 0;
    }

    .footer-block {
    	height: 20mm;
    	padding: 15px;
    	 border-bottom: 1px dashed #ccc;
    }

	.headertable {
		width:inherit;
		width:100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.headertr {
		height:35px;
	}

	.headertdleft {
		width:300px;
	}
	.headertdright {
		width:50%;
	}



    .clear:after {
        content: '';
        display: block;
        clear: both;
    }

    .column2 {
        width: 50%;
        float: left;
    }

    .column3 {
        width: 33.33%;
        float: left;
    }

    .floatleft {
        float: left;
    }

    .floatright {
        float: left;
    }

    .block-address .column-title {
        float: left;
        font-weight: bold;
    }

    .block-address .column-text {
        float: left;
        padding-left: 10px;
    }

    .block-tborder table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
    }

    .block-tborder table thead tr {
        background-color: #3a3a3a;
    }

    .block-tborder table thead tr th {
        color: #fff;
        font-weight: bold;
        padding: 10px;
        border: 1px solid #ccc;
    }

    .block-tborder table tbody td {
        padding: 6px 10px;
        border: 1px solid #ccc;
    }

    .block-tborder table tfoot tr td {
        padding: 6px 10px;
    }

    .block-tborder table tfoot .border-bottom td {
        border-bottom: 1px solid #3a3a3a;
    }

    .block-tborder table tfoot .border-top td {
        border-top: 2px solid #3a3a3a;
    }

    .block-note {
        padding: 15px 0;
        border-top: 1px dashed #ccc;
        margin-top: 50px;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }

    .align-center {
        text-align: center;
    }


