
.o-change-table {
    display: inline-block;
    position: relative;
    margin: 20px;
    padding: auto;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    border-radius: 3px;
    color: rgba(0,0,0,.87);
    background: white;
}
.o-title {
    padding-left: 16px;
    padding-right: 0px;
    padding-top: 5px;
    color: #ffffff;
}
.o-background-des {
    display: block;
    box-shadow: 0 12px 20px -10px rgb(76 175 80 / 28%), 0 4px 20px 0 rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(76 175 80 / 20%);
    margin: -20px 15px 0;
    padding: 2px;
    border-radius: 3px;
    background: #2196f3
    ;
}

.o-distance-table {
    display: inline-block;
    padding-top: 30px;
    padding-right: 0px;
    margin-right: 20px;
}

.o-background-order {
    background:rgb(231, 225, 225);
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    height: 100vh;
    width: 100vw;
}

.o-background-order::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}
.o-product-table {
    position: relative;
    width: 100%;
}
.o-product-table-size {
    position: relative;
    width: 100%;
}
.o-divide {
    background:rgb(231, 225, 225);
    display:flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    flex: 1 1 auto;
    width: 100vw;
}
.o-invoice {
    background:rgb(231, 225, 225);
    overflow: hidden;
    width: 100vw;
}

